*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.scene{
    position: relative;
    background:transparent;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    background: black;
    
}
h1{
    position: relative;
    top: 10%;
    font-size: 17px;
    text-align: center;
    color: yellow;
   
}

.scene .rocket{
    position: relative;
    height: 150px;
    width: 90px;
    background: #346590;
    
    border: 4px solid gray;
    animation: animate 0.2s ease infinite;
    z-index: 100;
}

@keyframes animate
{
    0%,100%{ 
        transform: translateY(-2px);       

    }
    50%{        
         transform: translateY(2px);
    }
}
.scene .rocket::before{
    content: '';
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 200px;
    background: linear-gradient(#00d0ff,transparent);
    filter: blur(.5px);
}
.scene i{
    
    position: absolute;
    top: -250px;
    background: rgba(255, 255,255,0.5);
    animation: ani linear infinite;
}
@keyframes ani{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(200vh);
        

    }
}